In [146]:
import sys, os
sys.path.append(os.environ['minotaur'])

import datetime as dt
import re
import sys

import yaml
from urllib.parse import urlparse


%matplotlib inline
from matplotlib import pyplot as plt
plt.style.use('seaborn-notebook')


import pandas as pd
pd.set_option('display.max_columns', 30)
import numpy as np
import patsy
import statsmodels.api as sm

from pylab import rcParams
rcParams['figure.figsize'] = 14,3
rcParams['font.family'] = 'Open Sans'

from dbs import redshift
redshift.connect()

from __future__ import division

In [147]:
q1 = redshift.execute( """
with emails as 
(
select *, ROW_NUMBER() OVER (PARTITION BY content ORDER BY email_address_verifications_count DESC) AS row_num
from burden_api.email_addresses
),
orgs as 
(SELECT organizations.name as "burden_name",
       websites_count,
       websites.content AS "website",
       'source' AS "source",
       organizations.id as "burden_id",
       city as "billing_city",
       country as "billing_country",
       address as "billing_street",
       emails.content as "email",
       ROW_NUMBER() OVER (PARTITION BY organizations.name ORDER BY organizations.service_identifiers_count Desc) AS row_num
FROM burden_api.organizations
  LEFT JOIN burden_api.sourcings ON sourcings.sourced_id = organizations.id
  LEFT JOIN burden_api.sources ON sourcings.source_id = sources.id
  LEFT JOIN burden_api.websites ON organizations.id = websites.organization_id
  LEFT JOIN burden_api.locations ON organizations.id = locations.organization_id
  left join emails ON organizations.id = emails.organization_id and emails.row_num = 1
WHERE sources.name = 'Artnet (All Galleries)'
AND   websites.content IS NOT NULL
)
select * from orgs where row_num = 1 and website is not null
""")

In [148]:
a = redshift.execute("""
select id,website,billing_city,billing_country,billing_street from segment_salesforce.accounts where not is_deleted and partner_type_c IN ('Gallery','Design Gallery') and website is not null""")

In [149]:
a = a.fillna(np.nan)
q1 = q1.fillna(np.nan)

In [150]:
a.website = a.website.astype(str)
a.website.head()

0       soloimpression.com
1     totalartsgallery.com
2           jdcfineart.com
3       varnishfineart.com
4    whitesp-cegallery.com
Name: website, dtype: object

In [151]:
urlparse('http://www.artnet.com/galleries/donna-leatherman')

ParseResult(scheme='http', netloc='www.artnet.com', path='/galleries/donna-leatherman', params='', query='', fragment='')

In [152]:
def strip(website):
    website = website.replace("http://","")
    website = website.replace("http:","")    
    website = website.replace("https://","") 
    website = website.replace("http:","")    
    website = re.sub(r'(www.)(?!com)',r'',website)
    urls = website.split('/')[0]
#     urls = urls.replace("]","")
#     urls = urls.replace("[","")    
    return urls
a.website = a.website.apply(strip)
q1.website = q1.website.apply(strip)

In [153]:
a1 = a.set_index(['website'])
q2 = q1.set_index(['website'])

In [154]:
a2 = a1.drop_duplicates()
q3 = q2.drop_duplicates()

In [155]:
print(a1.index.size)
print(a2.index.size)

13705
13705

In [156]:
print(q2.index.size)
print(q3.index.size)

5596
5596

In [168]:
new = a2.combine_first(q3)
new.head()

,billing_city,billing_country,billing_street,burden_id,burden_name,email,id,row_num,source,websites_count
website,,,,,,,,,,
,Coral Springs,United States,NaN,NaN,NaN,NaN,001C000001bcwDOIAY,NaN,NaN,NaN
+32 (0)475 34 01 11,NaN,NaN,NaN,NaN,NaN,NaN,001C000001bchgTIAQ,NaN,NaN,NaN
+33 6 09 02 05 35,NaN,NaN,NaN,NaN,NaN,NaN,001C000001bcymXIAQ,NaN,NaN,NaN
-,Monte Carlo,Monaco,NaN,NaN,NaN,NaN,001C000001QmZpGIAV,NaN,NaN,NaN
.foundrygallery.org,"Washington, DC",United States,"1314 18th St., N.W.",NaN,NaN,NaN,001C000001ZdSkqIAF,NaN,NaN,NaN

In [174]:
new[new.burden_id.notnull()].count()

billing_city       4861
billing_country    4964
billing_street     4948
burden_id          5606
burden_name        5606
email              4291
id                 1148
row_num            5606
source             5606
websites_count     5606
dtype: int64