In [16]:
import csv
import pandas

csv1 = pandas.read_csv('mql-tracker.csv')

In [17]:
csv1.head()

,EMAIL,submit application date,downloaded standard content twice,visited partnerships page,downloaded bofu,attended webinar,sales accepted
0,philippa.kn@gmail.com,NaN,NaN,2017-02-06T15:31:24Z,NaN,NaN,NaN
1,jennie@artsymail.com,NaN,NaN,2017-02-06T15:41:41Z,NaN,NaN,NaN
2,info@oliversearsgallery.com,NaN,NaN,2017-02-06T15:49:58Z,NaN,NaN,NaN
3,info@gormleys.ie,NaN,NaN,2017-02-06T15:54:20Z,NaN,NaN,NaN
4,info@galeriedutta.ch,2017-01-26T18:41:43Z,NaN,2017-02-06T16:05:47Z,NaN,NaN,NaN

In [18]:
list(csv1)

['EMAIL',
 'submit application date',
 'downloaded standard content twice',
 'visited partnerships page',
 'downloaded bofu',
 'attended webinar',
 'sales accepted']

In [19]:
csv1.dtypes

EMAIL                                object
submit application date              object
downloaded standard content twice    object
visited partnerships page            object
downloaded bofu                      object
attended webinar                     object
sales accepted                       object
dtype: object

In [20]:
csv1['submit application date'] = pd.to_datetime(csv1['submit application date'])
csv1['visited partnerships page'] = pd.to_datetime(csv1['visited partnerships page'])
csv1['downloaded bofu'] = pd.to_datetime(csv1['downloaded bofu'])
csv1['attended webinar'] = pd.to_datetime(csv1['attended webinar'])
csv1['sales accepted'] = pd.to_datetime(csv1['sales accepted'])
csv1['downloaded standard content twice'] = pd.to_datetime(csv1['downloaded standard content twice'])

In [22]:
csv2 = csv1.set_index(['EMAIL'])